# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/

# System Files
.DS_Store
Thumbs.db
/.node-gyp/
/.local/
/.npm/
/.gradle/
/.Trash-1000
npm-debug.log

package-lock.json
chromedriver.log
geckodriver.log



# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
qa.iml
